[SddmGreeterTheme]
Name=Redcore-Sddm-Theme
Description=Redcore-Sddm-Theme
Author=Redcore Linux Project
License=MIT
Type=sddm-theme
Version=1
Website=https://redcorelinux.org
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Email=contact@redcorelinux.org
Theme-Id=redcore-sddm
Theme-API=2.0
QtVersion=6
