[Desktop Entry]
Type=Action
Name=Samba Network Share (readonly)
Profiles=profile-zero;

[X-Action-Profile profile-zero]
Exec=/usr/bin/net usershare add %w %f "" Everyone:R guest_ok=y
Name=Default profile
