[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=xdg-open https://gitlab.com/groups/redcore
Icon=redcore-weblink

Name=Redcore Git Repos
Name[ro]=Depozite Redcore
