[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=xdg-open http://mirror.math.princeton.edu/pub/redcorelinux/iso
Icon=/usr/share/pixmaps/redcore-weblink.png

Name=Download
Name[ro]=Descarcare
